# 4. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

- print the first 3 rows
- print the number of rows and columns (shape)
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [24]:
from pydataset import data
df_iris = data('iris')
df_iris
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [23]:
df_iris.shape

(150, 5)

In [25]:
for col in df_iris.columns:
    print(col)

Sepal.Length
Sepal.Width
Petal.Length
Petal.Width
Species

In [32]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [35]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [37]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# 5. Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

- assign the first 100 rows to a new dataframe, df_excel_sample
- print the number of rows of your original dataframe
- print the first 5 column names
- print the column names that have a data type of object
- compute the range for each of the numeric variables.

- assign the first 100 rows to a new dataframe, df_excel_sample

In [48]:
import pandas as pd

sheet_url = 'https://docs.google.com/spreadsheets/d/1AUpCIpuh_XOMfHEDBolzle3CPqPUtZtUxT57GYTkB9w/edit#gid=1023018493'    
# Please make sure you make the url sharable to everyone
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_excel = pd.read_csv(csv_export_url)
df_excel_sample = df_excel.head(100)
df_excel_sample

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,593.30,No
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,542.40,No
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,267.40,Yes
5,0013-MHZWF,Female,0,No,Yes,1,1,0,Credit card (automatic),69.40,571.45,No
6,0013-SMEOE,Female,1,Yes,No,1,2,2,Bank transfer (automatic),109.70,7904.25,No
7,0014-BMAQU,Male,0,Yes,No,2,2,2,Credit card (automatic),84.65,5377.80,No
8,0015-UOCOJ,Female,1,No,No,1,1,0,Electronic check,48.20,340.35,No
9,0016-QLJIS,Female,0,Yes,Yes,2,1,2,Mailed check,90.45,5957.90,No
10,0017-DINOC,Male,0,No,No,0,1,2,Credit card (automatic),45.20,2460.55,No
11,0017-IUDMW,Female,0,Yes,Yes,2,2,2,Credit card (automatic),116.80,8456.75,No
12,0018-NYROU,Female,0,Yes,No,1,2,0,Electronic check,68.95,351.50,No
13,0019-EFAEP,Female,0,No,No,2,2,2,Bank transfer (automatic),101.30,7261.25,No
14,0019-GFNTW,Female,0,No,No,0,1,2,Bank transfer (automatic),45.05,2560.10,No
15,0020-INWCK,Female,0,Yes,Yes,2,2,2,Credit card (automatic),95.75,6849.40,No
16,0020-JDNXP,Female,0,Yes,Yes,0,1,1,Mailed check,61.25,1993.20,No
17,0021-IKXGC,Female,1,No,No,2,2,0,Electronic check,72.10,72.10,No
18,0022-TCJCI,Male,1,No,No,1,1,1,Credit card (automatic),62.70,2791.50,Yes
19,0023-HGHWL,Male,1,No,No,0,1,0,Electronic check,25.10,25.10,Yes
20,0023-UYUPN,Female,1,Yes,No,2,0,1,Electronic check,25.20,1306.30,No
21,0023-XUOPT,Female,0,Yes,No,2,2,0,Electronic check,94.10,1215.60,Yes
22,0027-KWYKW,Female,0,Yes,Yes,2,2,0,Electronic check,83.75,1849.95,No
23,0030-FNXPP,Female,0,No,No,1,0,0,Mailed check,19.85,57.20,No
24,0031-PVLZI,Female,0,Yes,Yes,1,0,0,Mailed check,20.35,76.35,Yes
25,0032-PGELS,Female,0,Yes,Yes,0,1,0,Bank transfer (automatic),30.50,30.50,Yes
26,0036-IHMOT,Female,0,Yes,Yes,1,2,1,Bank transfer (automatic),103.70,5656.75,No
27,0040-HALCW,Male,0,Yes,Yes,1,0,2,Credit card (automatic),20.40,1090.60,No
28,0042-JVWOJ,Male,0,No,No,1,0,1,Bank transfer (automatic),19.60,471.85,No
29,0042-RLHYP,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),19.70,1396.90,No
30,0048-LUMLS,Male,0,Yes,Yes,1,2,1,Credit card (automatic),91.20,3247.55,No
31,0048-PIHNL,Female,0,Yes,No,1,0,1,Bank transfer (automatic),20.45,900.90,No
32,0052-DCKON,Male,0,Yes,No,2,2,1,Bank transfer (automatic),115.80,7942.15,No
33,0052-YNYOT,Female,0,No,No,1,0,1,Electronic check,20.55,1343.40,No
34,0056-EPFBG,Male,0,Yes,Yes,0,1,2,Credit card (automatic),39.40,825.40,No
35,0057-QBUQH,Female,0,No,Yes,2,0,2,Electronic check,25.10,1070.15,No
36,0058-EVZWM,Female,0,Yes,No,2,2,0,Bank transfer (automatic),89.80,4959.60,No
37,0060-FUALY,Female,0,Yes,No,2,2,0,Electronic check,94.75,5597.65,No
38,0064-SUDOG,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),20.30,224.50,No
39,0064-YIJGF,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),75.75,1929.00,No
40,0067-DKWBL,Male,1,No,No,1,1,0,Electronic check,49.25,91.10,Yes
41,0068-FIGTF,Female,0,No,No,1,1,1,Mailed check,78.20,2078.95,No
42,0071-NDAFP,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.50,630.60,No
43,0074-HDKDG,Male,0,Yes,Yes,1,1,1,Bank transfer (automatic),61.60,1611.00,No
44,0076-LVEPS,Male,0,No,Yes,0,1,0,Mailed check,45.00,1242.45,No
45,0078-XZMHT,Male,0,Yes,No,2,1,2,Bank transfer (automatic),85.15,6316.20,No
46,0080-EMYVY,Female,0,No,No,1,1,1,Credit card (automatic),51.45,727.85,No
47,0080-OROZO,Female,0,No,No,1,2,1,Electronic check,99.25,3532.00,No
48,0082-LDZUE,Male,0,No,No,1,1,0,Mailed check,44.30,44.30,No
49,0082-OQIQY,Male,0,No,No,1,2,0,Electronic check,94.20,2607.60,No
50,0083-PIVIK,Male,0,No,No,2,1,1,Electronic check,81.25,5567.55,No
51,0089-IIQKO,Female,0,Yes,Yes,2,2,0,Credit card (automatic),99.95,3767.40,No
52,0093-EXYQL,Female,1,No,No,1,2,0,Electronic check,91.55,3673.60,No
53,0093-XWZFY,Male,0,No,No,2,2,0,Credit card (automatic),104.50,4036.85,Yes
54,0094-OIFMO,Female,1,No,No,1,2,0,Electronic check,95.00,1120.30,Yes
55,0096-BXERS,Female,0,Yes,No,2,1,0,Electronic check,50.35,314.55,No
56,0096-FCPUF,Male,0,No,No,2,1,0,Mailed check,64.50,1888.45,No
57,0098-BOWSO,Male,0,No,No,1,0,0,Electronic check,19.40,529.80,No
58,0100-DUVFC,Male,1,Yes,No,2,2,1,Electronic check,104.80,7308.95,No
59,0103-CSITQ,Female,0,Yes,No,2,2,1,Bank transfer (automatic),109.40,6252.70,No
60,0104-PPXDV,Male,0,Yes,No,1,1,1,Credit card (automatic),50.30,2878.55,No
61,0106-GHRQR,Male,0,No,No,2,1,0,Bank transfer (automatic),71.40,1212.10,No
62,0106-UGRDO,Female,0,Yes,No,2,2,2,Electronic check,116.00,8182.85,No
63,0107-WESLM,Male,0,No,No,1,0,0,Electronic check,19.85,19.85,Yes
64,0107-YHINA,Male,0,No,Yes,2,2,0,Electronic check,99.75,99.75,Yes
65,0111-KLBQG,Male,1,Yes,Yes,1,2,0,Mailed check,93.95,2861.45,No
66,0112-QAWRZ,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),90.80,1442.20,No
67,0112-QWPNC,Male,0,Yes,No,2,1,1,Electronic check,84.35,4059.35,Yes
68,0114-IGABW,Female,0,Yes,No,0,1,2,Bank transfer (automatic),58.25,4145.90,No
69,0114-PEGZZ,Female,0,No,No,2,2,0,Electronic check,107.55,3645.50,No
70,0114-RSRRW,Female,0,Yes,No,1,0,0,Bank transfer (automatic),19.95,187.75,No
71,0115-TFERT,Male,0,Yes,No,2,2,0,Electronic check,111.20,2317.10,Yes
72,0117-LFRMW,Male,0,Yes,Yes,0,1,0,Bank transfer (automatic),40.20,1448.80,Yes
73,0118-JPNOY,Female,1,No,No,1,2,0,Credit card (automatic),85.80,2193.65,No
74,0121-SNYRK,Male,0,No,No,0,1,1,Mailed check,35.40,1748.90,No
75,0122-OAHPZ,Female,0,No,No,2,2,0,Electronic check,73.85,511.25,Yes
76,0123-CRBRT,Female,0,Yes,Yes,2,1,2,Mailed check,88.10,5526.75,No
77,0125-LZQXK,Male,0,No,No,1,2,0,Electronic check,101.35,1553.95,Yes
78,0128-MKWSG,Female,0,No,Yes,0,1,0,Mailed check,45.80,1147.00,No
79,0129-KPTWJ,Male,0,Yes,No,1,2,0,Electronic check,94.65,6747.35,No
80,0129-QMPDR,Male,0,Yes,Yes,1,0,1,Bank transfer (automatic),20.50,865.05,No
81,0130-SXOUN,Male,0,No,No,2,2,0,Credit card (automatic),89.40,5976.90,No
82,0133-BMFZO,Female,0,No,No,1,2,0,Electronic check,86.25,181.65,Yes
83,0134-XWXCE,Female,1,No,No,1,1,1,Bank transfer (automatic),74.85,3268.05,No
84,0135-NMXAP,Female,0,No,No,2,2,0,Bank transfer (automatic),89.75,1052.40,Yes
85,0136-IFMYD,Male,1,Yes,No,2,2,2,Electronic check,109.95,7634.25,No
86,0137-OCGAB,Female,0,No,No,2,2,0,Mailed check,80.20,80.20,Yes
87,0137-UDEUO,Female,0,No,No,1,0,0,Mailed check,19.85,63.75,Yes
88,0139-IVFJG,Female,0,Yes,No,1,2,0,Electronic check,90.35,190.50,No
89,0141-YEAYS,Female,1,No,No,2,2,0,Bank transfer (automatic),86.45,2401.05,No
90,0142-GVYSN,Male,0,No,No,1,0,0,Electronic check,20.30,511.25,No
91,0147-ESWWR,Female,1,Yes,No,2,2,0,Electronic check,101.25,3949.15,No
92,0148-DCDOS,Male,0,No,No,2,2,0,Bank transfer (automatic),94.70,2362.10,Yes
93,0151-ONTOV,Female,0,No,No,1,2,0,Mailed check,70.90,70.90,Yes
94,0156-FVPTA,Male,0,Yes,No,1,1,0,Electronic check,54.20,1152.70,Yes
95,0164-APGRB,Female,0,No,No,2,2,2,Electronic check,114.90,8496.70,No
96,0164-XAIRP,Female,0,No,No,1,0,2,Bank transfer (automatic),19.55,470.20,No
97,0168-XZKBB,Female,0,Yes,No,2,2,0,Electronic check,86.85,1564.40,No
98,0174-QRVVY,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.35,1847.55,No
99,0177-PXBAT,Male,1,Yes,No,2,2,0,Bank transfer (automatic),109.90,3694.70,No

- print the number of rows of your original dataframe

In [50]:
df_excel.size

84588

In [51]:
df_excel.shape

(7049, 12)

- print the first 5 column names

In [70]:
df_excel.iloc[0:0 , :5]

Empty DataFrame
Columns: [customer_id, gender, is_senior_citizen, partner, dependents]
Index: []

- print the column names that have a data type of object

In [73]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7049 non-null   object
 1   gender             7049 non-null   object
 2   is_senior_citizen  7049 non-null   int64
 3   partner            7049 non-null   object
 4   dependents         7049 non-null   object
 5   phone_service      7049 non-null   int64
 6   internet_service   7049 non-null   int64
 7   contract_type      7049 non-null   int64
 8   payment_type       7049 non-null   object
 9   monthly_charges    7049 non-null   float64
 10  total_charges      7038 non-null   float64
 11  churn              7049 non-null   object
dtypes: float64(2), int64(4), object(6)
memory usage: 661.0+ KB

In [72]:
list(df_excel.select_dtypes(['object']).columns)

['customer_id', 'gender', 'partner', 'dependents', 'payment_type', 'churn']

- compute the range for each of the numeric variables.

In [79]:
df_excel.is_senior_citizen.max()- df_excel.is_senior_citizen.min()

1

In [82]:
df_excel.phone_service.max()- df_excel.phone_service.min()

2

In [83]:
df_excel.internet_service.max()- df_excel.internet_service.min()

2

In [84]:
df_excel.contract_type.max()- df_excel.contract_type.min()

2

In [86]:
df_excel.monthly_charges.max() - df_excel.monthly_charges.min()

100.5

In [87]:
df_excel.total_charges.max() - df_excel.total_charges.min()

8666.0

In [85]:
df_excel[df_excel.columns[(df_excel.dtypes == float) | (df_excel.dtypes == int)]].max() - df_excel[df_excel.columns[(df_excel.dtypes == float) | (df_excel.dtypes == int)]].min()

is_senior_citizen       1.0
phone_service           2.0
internet_service        2.0
contract_type           2.0
monthly_charges       100.5
total_charges        8666.0
dtype: float64

In [88]:
df_excel.describe()

,is_senior_citizen,phone_service,internet_service,contract_type,monthly_charges,total_charges
count,7049.000000,7049.000000,7049.000000,7049.000000,7049.000000,7038.000000
mean,0.162009,1.324585,1.222585,0.690878,64.747014,2283.043883
std,0.368485,0.642709,0.779068,0.833757,30.099460,2266.521984
min,0.000000,0.000000,0.000000,0.000000,18.250000,18.800000
25%,0.000000,1.000000,1.000000,0.000000,35.450000,401.587500
50%,0.000000,1.000000,1.000000,0.000000,70.350000,1397.100000
75%,0.000000,2.000000,2.000000,1.000000,89.850000,3793.775000
max,1.000000,2.000000,2.000000,2.000000,118.750000,8684.800000

In [91]:
df_excel['Range'] = df_excel[max] - df_excel[min]

TypeError: unsupported operand type(s) for -: 'float' and 'str'

# 6. Read the data from this google sheet into a dataframe, df_google

In [93]:


import pandas as pd

sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    
# This is url localtion for google sheet. Please make sure you make the url sharable to everyone

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
# export url and pull it here

df_google = pd.read_csv(csv_export_url)

df_google

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

- print the first 3 rows

In [94]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

- print the number of rows and columns

In [95]:
df_google.shape

(891, 12)

- print the column names

In [111]:
df_google.columns.to_list()

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

- print the data type of each column

In [112]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

- print the summary statistics for each of the numeric variables

In [115]:
df_google.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

- print the unique values for each of your categorical variables

In [116]:
# I could get a count of unique values for each variable with an object data type.

for col in df_google.columns:
#     print(col)
    if df_google[col].dtypes == 'object':
        print(f'{col} has {df_google[col].nunique()} unique values.')

Name has 891 unique values.
Sex has 2 unique values.
Ticket has 681 unique values.
Cabin has 147 unique values.
Embarked has 3 unique values.

In [117]:
df_google.Survived.value_counts(dropna=False)

0    549
1    342
Name: Survived, dtype: int64

In [118]:
df_google.Pclass.value_counts(dropna=False)

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [121]:
df_google.Sex.value_counts(dropna=False)

male      577
female    314
Name: Sex, dtype: int64

In [122]:
df_google.Embarked.value_counts(dropna=False)

S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64