### Exercises

### Create a new file named model_evaluation.py or model_evaluation.ipynb for these exercises.

In [ ]:
### 2. Given the following confusion matrix, evaluate (by hand) the model's performance.

'''
|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

'''

In [21]:
# dog = positive case
# cat = negative case
tp = 46
tn = 34
fp = 13
fn = 7

print("dog-classifier (Here we have assumed dog as positive prediction)")
print(f'True Positive: {tp}')
print(f'True Negative: {tn}')

dog-classifier (Here we have assumed dog as positive prediction)
True Positive: 46
True Negative: 34

- a. In the context of this problem, what is a false positive?

In [22]:
# False Postitive is the case when actual item is cat but has been predicted as dog. It has value of 13 in the table.
print(f'False Positive: {fp}')

False Positive: 13

- b. In the context of this problem, what is a false negative?

In [23]:
# False Negative is the case when actual item is dog but has been predicted as cat. It has value of 7 in the table.
print(f'False Negative: {fn}')

False Negative: 7

- c. How would you describe this model?

In [7]:
print(f'Model accuracy is {(34+46)/(34+7+13+46) * 100}%')
print(f'Model precision is {round((46)/(46+13) * 100, 2)}%')
print(f'Model recall is {round((46)/(46+7) * 100, 2)}%')

Model accuracy is 80.0%
Model precision is 77.97%
Model recall is 86.79%

### 3. You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

### Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

### Use the predictions dataset and pandas to help answer the following questions:

- a. An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [10]:
import pandas as pd
c3 = pd.read_csv('c3.csv')
c3

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

Since we are interested in 'Defects', we will assign it as 'positive case' for the classifier

Since we needs to identify as many defective ducks as possible, I think best metric is Recall

In [16]:
model1 = pd.crosstab(c3.model1, c3.actual)
model1

actual     Defect  No Defect
model1
Defect          8          2
No Defect       8        182

In [ ]:
# Recall1 = 8/16* 100 = 50.00%

In [17]:
model2 = pd.crosstab(c3.model2, c3.actual)
model2

actual     Defect  No Defect
model2
Defect          9         81
No Defect       7        103

In [ ]:
# Recall2 = 9/16* 100 = 56.25%

In [18]:
model3 = pd.crosstab(c3.model3, c3.actual)
model3

actual     Defect  No Defect
model3
Defect         13         86
No Defect       3         98

In [ ]:
# Precision metric would be appropriate.

In [ ]:
# Recall3 = 13/16* 100 = 81.25%

In [ ]:
# Since recall = 81.25% for third model (model3), I think model3 would be the best fit for this use case.

- b. Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

###### Based on question they are telling us to decrease false positive (FP), in order to decrease false positive our precision should be good. So I would use Precision as evaluation meteric.

In [ ]:
# Precision1 = 8/10 * 100% = 80%
# Precision2 = 9/90 * 100% = 10%
# Precision3 = 13/99 * 100% = 13.13%

Based on this question, model1 with maximum precision will give less FP, So I would go with Model1 for this case.

### 4. You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

### At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

### Several models have already been developed with the data, and you can find their results here.

### Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

- a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [25]:
dog_cat = pd.read_csv('gives_you_paws.csv')
dog_cat.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [26]:
# Looking at class distribution
dog_cat.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [33]:
# Given this dataset, use pandas to create a baseline model 
# (i.e. a model that just predicts the most common class) and answer the following questions:
# Most frequent label is dog
dog_cat["base_line_model"] = dog_cat.actual.value_counts().idxmax()
dog_cat

     actual model1 model2 model3 model4 base_line_model
0       cat    cat    dog    cat    dog             dog
1       dog    dog    cat    cat    dog             dog
2       dog    cat    cat    cat    dog             dog
3       dog    dog    dog    cat    dog             dog
4       cat    cat    cat    dog    dog             dog
...     ...    ...    ...    ...    ...             ...
4995    dog    dog    dog    dog    dog             dog
4996    dog    dog    cat    cat    dog             dog
4997    dog    cat    cat    dog    dog             dog
4998    cat    cat    cat    cat    dog             dog
4999    dog    dog    dog    dog    dog             dog

[5000 rows x 6 columns]

In [37]:
# Getting models name
models = list(dog_cat.columns)
models = models[1:]
models

['model1', 'model2', 'model3', 'model4', 'base_line_model']

In [38]:
output = {}
for item in models:
    accuracy = (dog_cat.actual == dog_cat[item]).mean()
    output.update({item : accuracy})
output

{'model1': 0.8074,
 'model2': 0.6304,
 'model3': 0.5096,
 'model4': 0.7426,
 'base_line_model': 0.6508}

In [40]:
pd.DataFrame(output.items(), columns = ['model', 'accuracy'])

             model  accuracy
0           model1    0.8074
1           model2    0.6304
2           model3    0.5096
3           model4    0.7426
4  base_line_model    0.6508

Based on accuracy, model1 & model4 are better than baseline.

- b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?

In [41]:
# dog = positive 
# cat = negative
dog_cat.head()
# Phase I, we will choose model with the highest Recall

  actual model1 model2 model3 model4 base_line_model
0    cat    cat    dog    cat    dog             dog
1    dog    dog    cat    cat    dog             dog
2    dog    cat    cat    cat    dog             dog
3    dog    dog    dog    cat    dog             dog
4    cat    cat    cat    dog    dog             dog

In [43]:
subset = dog_cat[dog_cat.actual == 'dog']
subset

     actual model1 model2 model3 model4 base_line_model
1       dog    dog    cat    cat    dog             dog
2       dog    cat    cat    cat    dog             dog
3       dog    dog    dog    cat    dog             dog
5       dog    dog    dog    dog    dog             dog
8       dog    dog    cat    dog    dog             dog
...     ...    ...    ...    ...    ...             ...
4993    dog    dog    cat    dog    dog             dog
4995    dog    dog    dog    dog    dog             dog
4996    dog    dog    cat    cat    dog             dog
4997    dog    cat    cat    dog    dog             dog
4999    dog    dog    dog    dog    dog             dog

[3254 rows x 6 columns]

In [46]:
# Model1 Recall
(subset.actual == subset.model1).mean()

0.803318992009834

In [47]:
# Model2 Recall
(subset.actual == subset.model2).mean()

0.49078057775046097

In [48]:
# Model3 Recall
(subset.actual == subset.model3).mean()

0.5086047940995697

In [49]:
# Model4 Recall
(subset.actual == subset.model4).mean()

0.9557467732022127

With dog as positive Phase-1 Model 4 with Recall of 0.96.

- c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?

Since it is double checked by human as well we want less False Positive, so precision is our metric for evaluation.

In [52]:
model1 = pd.crosstab(dog_cat.model1, dog_cat.actual)
model1

actual   cat   dog
model1
cat     1423   640
dog      323  2614

In [ ]:
precision1 = 2614/(2614 + 323)* 100% = 89.00%

In [53]:
model2 = pd.crosstab(dog_cat.model2, dog_cat.actual)
model2

actual   cat   dog
model2
cat     1555  1657
dog      191  1597

In [ ]:
precision2 = 89.32%

In [54]:
model3 = pd.crosstab(dog_cat.model3, dog_cat.actual)
model3

actual  cat   dog
model3
cat     893  1599
dog     853  1655

In [ ]:
precision3 = 1655/(1655+853)* 100% = 65.99%

In [56]:
model4 = pd.crosstab(dog_cat.model4, dog_cat.actual)
model4

actual   cat   dog
model4
cat      603   144
dog     1143  3110

In [ ]:
precision4 = 3110/(3110+1143) * 100% = 73.12%

Taking dog as positive case, for Phase 2 Model2 would be more recommened to reduce False Positive.

Solving Same Problem assuming cat as positive case:

In [57]:
from sklearn.metrics import classification_report

In [61]:
print('Module1')
x = classification_report(dog_cat.actual, dog_cat.model1,
                          labels = ['cat', 'dog'],
                          output_dict=True)
pd.DataFrame(x).T

Module1

              precision    recall  f1-score    support
cat            0.689772  0.815006  0.747178  1746.0000
dog            0.890024  0.803319  0.844452  3254.0000
accuracy       0.807400  0.807400  0.807400     0.8074
macro avg      0.789898  0.809162  0.795815  5000.0000
weighted avg   0.820096  0.807400  0.810484  5000.0000

In [62]:
print('Module2')
pd.DataFrame(classification_report(dog_cat.actual, dog_cat.model2,
                          labels = ['cat', 'dog'],
                          output_dict=True)).T

Module2

              precision    recall  f1-score    support
cat            0.484122  0.890607  0.627269  1746.0000
dog            0.893177  0.490781  0.633479  3254.0000
accuracy       0.630400  0.630400  0.630400     0.6304
macro avg      0.688649  0.690694  0.630374  5000.0000
weighted avg   0.750335  0.630400  0.631310  5000.0000

In [63]:
print('Module3')
pd.DataFrame(classification_report(dog_cat.actual, dog_cat.model3,
                          labels = ['cat', 'dog'],
                          output_dict=True)).T

Module3

              precision    recall  f1-score    support
cat            0.358347  0.511455  0.421425  1746.0000
dog            0.659888  0.508605  0.574453  3254.0000
accuracy       0.509600  0.509600  0.509600     0.5096
macro avg      0.509118  0.510030  0.497939  5000.0000
weighted avg   0.554590  0.509600  0.521016  5000.0000

In [64]:
print('Module4')
pd.DataFrame(classification_report(dog_cat.actual, dog_cat.model4,
                          labels = ['cat', 'dog'],
                          output_dict=True)).T

Module4

              precision    recall  f1-score    support
cat            0.807229  0.345361  0.483755  1746.0000
dog            0.731249  0.955747  0.828560  3254.0000
accuracy       0.742600  0.742600  0.742600     0.7426
macro avg      0.769239  0.650554  0.656157  5000.0000
weighted avg   0.757781  0.742600  0.708154  5000.0000

In [ ]:
Phase I: Module2 Recal: 89.30% PhaseII: Module4 Precision: 80.72%

### 5. Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

- sklearn.metrics.accuracy_score
- sklearn.metrics.precision_score
- sklearn.metrics.recall_score
- sklearn.metrics.classification_report